<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Juego de Palabras</title>
  <link rel="stylesheet" href="../statics/css/MetodosString.css">
</head>
<body>
  <div id="divEncabezado">
    <h1>Juego de Palabras</h1>
  </div>

  <div class="botones">
    <button id="botonContador">Contador</button>
    <button id="botonBuscador">Buscador</button>
    <button id="botonAcronimos">Acrónimos</button>
  </div>

    <div id="contador" style="display:none">
    <label for="inputContador">Texto a analizar:</label>
    <input type="text" id="inputContador" placeholder="Escribe algo para contar...">
    <div id="resultadoContador">Aquí aparecerán los resultados</div>
  </div>

  <div id="acronimo" style="display:none">
    <input type="text" id="texto" placeholder="Escribe tu texto aquí...">
    <button id="botonAcronimo">Generar Acrónimo</button>
    <div id="result-acron">El resultado aparecerá aquí...</div>
  </div>

  <div id="buscador" style="display:none">
    <label for="contenedorinput">Texto:</label>
    <input type="text" id="contenedorinput" placeholder='Ejemplo: "Hola mundo"'>

    <label for="palabraBuscador">Palabra a buscar:</label>
    <input type="text" id="palabraBuscador" placeholder='Ejemplo: Hola'>

    <button id="ejecutar-btn">Ejecutar</button>
    <div id="result-pantalla">El resultado aparecerá aquí...</div>
  </div>

  <script src="../dynamics/js/prueba.js"></script>
</body>
</html>