<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../statics/css/MetodosString.css">
</head>
<body>
    <div id="divEncabezado">
        <h1>Juego de Palabras</h1>
    </div>
    <div class="botones">
        <button id="botonContador">Contador</button>
        <button id="botonBuscador">Buscador</button>
        <button id="botonAcronimos">Acronimos</button>
    </div>

    <!--Todo lo de contador-->
    <div id="contador" style.display="none">
        
    </div>
    <!--Todo lo de acronimo-->
    <div id="acronimo" style.dysplay="none">
        <button id="botonAcronimo">Acronimo</button>
        <input type="text" id="texto" placeholder="Escribe tu texto aquí...">
        <div id="result-acron">
                El resultado aparecerá aquí...
        </div>
    </div>
    <!--Todo lo de buscador-->
    <div id="buscador" style.dysplay="block">
        <h2>Buscador</h1>
        <div id="buscadorContenedor">
            <label for="texto-input">Texto:</label>
            <input type="text" id="contenedorinput" placeholder='Ejemplo: "Hola mundo"'>

            <label for="palabraBuscar">Palabra a buscar:</label>
            <input type="text" id="palabraBuscador" placeholder='Ejemplo: Hola'>
            
            <button id="ejecutar-btn" class="botones">Ejecutar</button>
            
            <div class="result-pantalla" id="result-pantalla">
                El resultado aparecerá aquí...
            </div>
        </div>
    </div>
    
</body>
<script src="../dynamics/js/MetodosString.js"></script>
</html>