<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Juego de Palabras</title>
  <link rel="stylesheet" href="../statics/css/MetodosString.css">
</head>
<body>
  <div id="divEncabezado">
    <h1>Juego de Palabras</h1>
  </div>

  <div id="Contenedorbtns">
    <button id="botonContador" class="boton">Contador</button>
    <button id="botonBuscador" class="boton">Buscador</button>
    <button id="botonAcronimos" class="boton">Acrónimos</button>
  </div>

  <div id="contador" style="display:none" class="caja">
    <label for="inputContador">Texto a analizar:</label>
    <input type="text" class="texto" id="inputContador" placeholder="Escribe algo para contar...">
    <div id="resultadoContador">Aquí aparecerán los resultados</div>
    <button id="contadorBtnEj" class="boton2"> Ejecutar</button>
  </div>

  <div id="acronimo" style="display:none" class="caja">
    <input type="text" class="texto" placeholder="Escribe tu texto aquí...">
    <button id="botonAcronimo" class="boton2">Generar Acrónimo</button>
    <div id="result-acron">El resultado aparecerá aquí...</div>
  </div>

  <div id="buscador" style="display:none" class="caja">
    <label for="contenedorinput">Texto:</label>
    <input type="text" class="texto" id="contenedorinput" placeholder='Ejemplo: "Hola mundo"'>

    <label for="palabraBuscador">Palabra a buscar:</label>
    <input type="text" class="texto" id="palabraBuscador" placeholder='Ejemplo: Hola'>

    <button id="ejecutar-btn" class="boton2">Ejecutar</button>
    <div id="result-pantalla">El resultado aparecerá aquí...</div>
  </div>

  <script src="../Dynamics/js/MetodosString.js"></script>
</body>
</html>